[Unit]
Description=Gunicorn instance to serve Flask
After=network.target
[Service]
User=root
Group=www-data
WorkingDirectory=/project
Environment="PATH=/usr/local/bin"
ExecStart=/usr/local/bin/gunicorn --bind 0.0.0.0:80 wsgi:app
[Install]
WantedBy=multi-user.target